body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 34px;
  padding-right: 34px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Common Classes */
.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select:invalid {
  color: gray;
}

select,
select:focus {
  outline: none;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  box-sizing: border-box;
  height: 32px;
  width: 100%;
  color: #7e7e7e;
}

input[type="checkbox"] {
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 1px;
  width: 16px;
  height: 16px;
  color: white;
  appearance: none;
}

option[value=""] {
  display: none;
}

.gap-2 {
  gap: 2px;
}

.gap-8 {
  gap: 8px;
}

/* Specific Classes */

.logo {
  width: 162.62px;
  height: 36px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 36px;
}

.header-text {
  text-align: left;
}

.title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26.23px;
  color: #212121;
}

.description {
  color: #545454;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  margin-top: 12px;
}

.searchBar {
  width: 240px;
  position: relative;
}

.searchBar > input {
  border: 1px solid #f0f0f0;
  background-color: #f3f3f4;
  padding: 12px;
  height: 40px;
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  padding-right: 28px;
}

.searchBar > img {
  position: absolute;
  top: 12px;
  right: 12px;
}

.table-filters {
  width: 100%;
  background-color: white;
  padding: 4px 12px 4px 12px;
  margin-top: 24px;
  box-sizing: border-box;
  margin-bottom: 2px;
}

.table-filters > .flex {
  gap: 12px;
}

.table-container {
  width: 100%;
  background-color: white;
  height: 780px;
  overflow-y: auto;
}

.user-account {
  color: #7e7e7e;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

.pagination-controls > div > button {
  appearance: none;
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 0px;
}

.pagination-controls > div > button:disabled {
  cursor: default;
}

.location {
  position: relative;
  width: 198px;
}

.location > select,
.status > select {
  padding-left: 28px;
}

.location > img,
.status > img {
  position: absolute;
  top: 8px;
  left: 8px;
}

.status {
  position: relative;
  width: 148px;
}

.delete-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.delete-button:hover {
  background-color: #d9363e;
}

@media (max-width: 768px) {
  .table-filters > .flex {
    flex-direction: column;
    gap: 12px;
  }

  .location,
  .status {
    justify-content: flex-start;
  }
}
